<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension="woff" mimeType="application/font-woff"/>
            <mimeMap fileExtension="woff2" mimeType="application/font-woff"/>
            <mimeMap fileExtension=".json" mimeType="text/html"/>
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json"/>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="ForceAllSSL" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="(.*)"/>
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$"/>
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent"/>
                </rule>
            </rules>
        </rewrite>
        <modules>
            <remove name="TelemetryCorrelationHttpModule"/>
            <remove name="ApplicationInsightsWebTracking"/>
        </modules>
        <validation validateIntegratedModeConfiguration="false"/>
    </system.webServer>
    <location path="en/service-worker.js">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:10:00" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="libs/adobe-arabic-bold.ttf">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="20:00:00" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="libs/lato-bold-font.woff2">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="20:00:00" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="libs/lato-font.woff2">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="20:00:00" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="resources/img/rx-prescription-black.jpg">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="20:00:00" />
            </staticContent>
        </system.webServer>
    </location>
    <system.web>
        <httpModules>
        </httpModules>
    </system.web>
</configuration>
