.nav-bar {
    padding: 0 2rem;
}

::ng-deep .mat-mdc-tab-links {
    align-items    : center;
    justify-content: space-between;
}

.website-title {
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom : 3px solid;
    position      : relative;
}