<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm="true">
            <mat-icon>menu</mat-icon>
        </button>

        <nav mat-tab-nav-bar class="nav-bar" [backgroundColor]="background" [tabPanel]="tabPanel" fxLayout="row"
            fxFlexFill fxLayoutAlign="space-between center">
            <span class="website-title">{{websiteTitle}}</span>
            <div fxHide="true" fxShow.gt-sm="true" fxLayout="row">
                <a mat-tab-link [routerLink]="route.path" *ngFor="let route of menuRoutes">{{route.title}}</a>
            </div>
        </nav>
        <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    </mat-toolbar-row>
</mat-toolbar>