<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm="true">
            <mat-icon>menu</mat-icon>
        </button>

        <nav mat-tab-nav-bar class="nav-bar" [backgroundColor]="background" [tabPanel]="tabPanel" fxLayout="row"
            fxFlexFill fxLayoutAlign="space-between center">
            <span class="website-title">{{websiteTitle}}v1</span>
            <div fxHide="true" fxShow.gt-sm="true" fxLayout="row">
                <a mat-tab-link class="nav-tab-link" [routerLink]="route.path"
                    *ngFor="let route of menuRoutes">{{route.title}}</a>

                <mat-divider vertical class="nav-mat-divider"></mat-divider>

                <span fxLayout="row" fxLayoutAlign="start center">
                    <a *ngFor="let item of socialLinks" [href]="item.url" target="_blank">
                        <i class="fa-lg fa-brands fa-{{item.faIcon}} social-link-icon"
                            [ngStyle]="{'color': item.color}"></i>
                    </a>
                </span>
            </div>
        </nav>
        <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    </mat-toolbar-row>
</mat-toolbar>