<section class="content-container spaced-text" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="2rem"
    fxLayoutGap.xs="1rem">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="2rem"
        fxLayoutGap.xs="1rem">
        <mat-card-header fxLayout="column" fxFlexOrder.xs="2">
            <mat-card-title>{{basicInfo.name}}</mat-card-title>
            <mat-card-subtitle class="pre-wrap">{{basicInfo.headline}}</mat-card-subtitle>
        </mat-card-header>
        <picture fxFlex fxFlex.xs="80">
            <source srcset="assets/ahmad-raza.webp" type="image/webp" height="250" width="250">
            <img src="assets/ahmad-raza.png" alt="Ahmad Raza" height="250" width="250">
        </picture>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-card fxFlex="90" fxFlex.lt-md="100" class="pd-1-rem">
            <mat-card-content>
                <p class="text-secondary pre-wrap">{{basicInfo.summary}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</section>