#introduction {
    padding: 2rem;
}

img {
    width        : 100%;
    border-radius: 50%;
}

.mat-card {
    padding      : 1em;
    background   : white;
    border-radius: 8px;
    box-shadow   : 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    &-header {
        margin-bottom: 1em;
        background   : linear-gradient(to right, #3f51b5, #5c6bc0);
        color        : white;
    }

    &-title {
        font-size  : 24px;
        font-weight: 600;
    }
}

.text-secondary {
    color: #6e6e6e;
}