<ng-container *ngIf="!(loading$ | async); else loader">
  <div fxLayout="column" class="container" [ngClass]="{ 'custom-scrollbar': isViewInit }">
    <app-header [sidenav]="sidenav"></app-header>
    <mat-sidenav-container class="flex-grow" [hasBackdrop]="false">
      <mat-sidenav #sidenav mode="over" opened="false" class="width-100" [(opened)]="sidenavOpen" fixedInViewport
        fixedTopGap="56" autosize>
        <mat-nav-list class="align-center">
          <a mat-list-item [routerLink]="route.path" *ngFor="let route of menuRoutes"
            (click)="sidenav.toggle()">{{route.title}}</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
    <mat-divider></mat-divider>
    <app-footer></app-footer>
  </div>
</ng-container>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>