<section id="education" fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="1rem">
    <div *ngFor="let education of educations">
        <mat-card fxFlex="50" fxFlex.lt-md="100" style="margin: auto;">
            <mat-card-header class="pd-16">
                <mat-card-title>{{education.institution}}</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <mat-icon matListItemIcon>school</mat-icon>
                        <span matListItemTitle>{{education.program}}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListItemIcon>star</mat-icon>
                        <span matListItemTitle>{{education.grade}}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListItemIcon>date_range</mat-icon>
                        <span matListItemTitle>{{education.from}} - {{education.to}}</span>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-divider></mat-divider>
        </mat-card>
    </div>
</section>