/* You can add global styles to this file, and also import other style files */
@import 'assets/ngx-spinner/animations/ball-atom.css';

html,
body {
    height: 100%;
}

body {
    margin        : 0;
    padding       : 0;
    // overflow   : hidden;
    font-family   : Roboto, "Helvetica Neue", sans-serif;
}

/****
Angular Material Components Customizations
****/

mat-card {
    border-radius: 8px !important;
}

/****
Other Styles
****/

.width-100 {
    width: 100%;
}

.align-center {
    text-align: center;
}

.pd-2-rem {
    padding: 2rem;
}