/* You can add global styles to this file, and also import other style files */
@import 'assets/css/ngx-spinner/ball-atom.css';

html,
body {
    height: 100%;
}

body {
    margin     : 0;
    padding    : 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

$indigo-color: rgb(33, 0, 75);

/****
Angular Material Components Customizations
****/

mat-card {
    border-radius: 8px !important;

    &-header {
        padding: 16px !important;
    }

    &-title>a:link {
        color: rgba($color: $indigo-color, $alpha: 0.7);
    }

    &-title>a:hover {
        color: rgba($color: $indigo-color, $alpha: 0.8);
    }
}

mat-list-item span.mdc-list-item__content>span:first-child {
    white-space: normal !important;
}

mat-card-content.content__pd-bt-0 {
    padding-bottom: 0 !important;
}

/****
Custom Scrollbar
****/

.custom-scrollbar {

    /* width */
    ::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow   : inset 1em 1em rgba($color: $indigo-color, $alpha: 0.1);
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background   : rgba($color: $indigo-color, $alpha: 0.2);
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba($color: $indigo-color, $alpha: 0.3);
    }
}

/****
Other Styles
****/

.width-100 {
    width: 100%;
}

.align-center {
    text-align: center;
}

.pd-1-rem {
    padding: 1rem;
}

.cursor-pointer {
    cursor: pointer;
}